*.gem
.bundle
.rvmrc
Gemfile.lock
pkg/*
log/*.log
*.tmproj
tmp
tmp/**/*
log
.gitconfig
bin/*
.rbenv-version
.rbenv-gemsets
Gemfile.lock
.ruby-gemset
.ruby-version
spec/internal/config/database.yml
spec/internal/log/*.log
.byebug_history